div.live_image_box {
    display: block;
    background-color: black; 
    text-align:center;
    margin-left: auto;
    margin-right: auto;
}

div.center {
    text-align:center;
    margin-left: auto;
    margin-right: auto;
}

#bottom_div {
    position: absolute; 
    bottom:0;
    right:0;
    margin:auto 0; 
}

.ui-field-contain .ui-controlgroup-controls {
    width:100%;
}
